* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
}

::-webkit-scrollbar{
    width: 7px;
    background: #000;
    border-radius: 15px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 15px;
    overflow: hidden;
}

body{
    background: #212121;
    min-height: 100vh;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.header{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 50px;
    /* line-height: 30px; */
    background: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
}



.header .logo{
    font-size: 3.5vh;
    display: block;
    font-weight: 1;
    position: absolute;
    top: 50%;
    left: 2%;
    /* line-height: 50px; */
    transform: translate(0%, -50%);
}

.presentacion{
    background: linear-gradient(to top, #000000c7,#000000c7, #000000c7 ), url("https://i.pinimg.com/564x/3f/be/8f/3fbe8f440c57fe166b7df3bf2c6d34a0.jpg") fixed center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.presentacion_1{
    padding: 20px;
    border: 1px solid #ffffff4d;
    background: #000000e0;
    width: 650px;
    height: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

.presentacion_1 h1{
    text-align: center;
    font-size: 3vh;
}

.presentacion_1 p{
    font-size: 1.9vh;
}

section .divisor{
    width: 90%;
    margin-left: 20px;
    color: #fff;
    padding-left: 10px;
    font-size: 2.5vh;
    line-height: 40px;
    background: linear-gradient(150deg, #b000006f, #00000041,#00000000 );
    border-left: 10px solid #b00000;
}

.Apis{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenedor_de_cartas{
    padding: 20px;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

.carta figure{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
}

.carta figure img:hover{
    scale: 110%;
}

.carta figure img{
    width: 100%;
    height: 100%;
}

.carta{
    width: 300px;
    background: #000;
    color: #fff;
}

.carta h1{
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 3vh;
}

.carta .content{
    border-top: 1px solid #fff;
    padding: 10px;
    text-align: left;
    font-size: 2.2vh;
}

.carta .content .teoria{
    width: 100%;
    height: 140px;
    overflow: auto;
}

.carta .botones{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.carta .botones a, button{
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    display: block;
    line-height: 30px;
    margin-bottom: 10px;
    /* background: #fff; */
    border: none;
    text-decoration: none;
    font-size: 2vh;
}

.carta .botones button{
    background: #fff;
    color: #000;
}

.carta .botones button:hover{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.carta .botones a{
    background: #0800ff;
    color: #ffffff;
}

.carta .botones a:hover{
    background: #fff;
    color: #0800ff;
    border: 1px solid #0800ff;
}

@media screen and (max-width: 760px) {
    .presentacion_1{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

