*{
    margin: 0 auto;
    padding: 0;
}

.Modal_Pgx{
    color: #fff;
    display: none;
    position: fixed;
    width: 500px;
    height: auto;
    max-height: 600px;
    /* padding: 10px; */
    font-family: 'Courier New', Courier, monospace;
    background: #222222;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.Modal_Pgx .Content_Above{
    padding: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}
.Modal_Pgx .Content_Above span{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 3.7vh;
    color: red;
    cursor: pointer;
}

.Modal_Pgx .Content_Above h1{
    color: #fff;
    margin-left: 10px;
    font-size: 3.8vh;
    font-weight: 1;
}

.Modal_Pgx .Content_Center{
    border-bottom: 1px solid #fff;
    padding: 10px;
    padding-bottom: 5px;
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.Modal_Pgx .Content_Center .carta{
    border-bottom: 1px solid #fff;
    padding: 10px;
    padding-bottom: 5px;
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.Modal_Pgx .Content_Center p{
    color: #fff; 
    font-size: 2.3vh;
}

.Modal_Pgx .Content_Center .select,.input{
    color: #fff; 
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    outline: none;
    border: 1px solid #fff;
    background: #222222;
}
.Modal_Pgx .Content_Center .select{
    text-align: center;
    font-size: 1.7vh;
    height: 25px;
    margin-bottom: 10px;
}

.Modal_Pgx .Content_Center .label{
    font-size: 2.3vh;
    display: block;
    margin-bottom: 10px;
}


.Modal_Pgx .Content_Center .input{
    font-size: 1.7vh;
    padding-left: 2px;
    line-height: 25px;
    margin-bottom: 10px;
}

.Modal_Pgx .Content_Center .btn{
    display: block;
    margin: 0 auto;
    font-size: 1.7vh;
    padding-left: 2px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
}

.Modal_Pgx .Content_Center .img,.iframe{
    width: 100%;
    margin-top: 10px;
}
.Modal_Pgx .Content_Below{
    height: 50px;
    position: relative;
}
.Modal_Pgx .Content_Below a{
    font-size: 2vh;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #fff;
    text-decoration: none;
    background: transparent;
    width: 110px;
    max-width: 115px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}
.Modal_Pgx .Content_Below_left{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(0%, -50%);
}
.Modal_Pgx .Content_Below_right{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0%, -50%);
}